<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elec.alumnicycle.mapper.AnnouncementMapper">

    <select id="getAnnouncementByAdminId" resultType="com.elec.alumnicycle.entity.Announcement" >

        SELECT
        *
        FROM
        announcement AS announcements  <!-- give life_post alias life_posts -->
        LEFT JOIN
        create_announce ON create_announce.announcement_id = announcements.id
        WHERE
        create_announce.admin_id = #{adminId}
    </select>

</mapper>
