<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.elec.alumnicycle.mapper.LifePostMapper">

    <select id="getLifePostsByUserId" resultType="com.elec.alumnicycle.entity.LifePost" >
        SELECT
        *
        FROM
        life_post AS a  <!-- give life_post alias life_posts -->
        LEFT JOIN
        create_life_post AS b ON b.life_post_id = a.id
        WHERE
        b.user_id = #{userId}
    </select>

</mapper>
